pip install dputils

In [1]:
from dputils.scrape import Scraper, Tag
from pprint import pp

- Tag class helps to decide what to collect from the page
- Scraper executes the scraping process

In [2]:
url='https://www.flipkart.com/search?q=mobile%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [3]:
scraper = Scraper(url)
scraper.get_repeating_date_from_page

In [4]:
result = scraper.get_repeating_date_from_page(
    target = Tag('div', cls='DOjaWF gdgoEp'),
    items = Tag('div', cls='_75nlfW'),
    title = Tag('div', cls='KzDlHZ'),
    price =Tag('div', cls='Nx9bqj _4b5DiR')
)

In [5]:
result

[{'title': 'SAMSUNG Galaxy F05 (Twilight Blue, 64 GB)', 'price': '₹6,249'},
 {'title': 'Apple iPhone 16 Plus (Pink, 128 GB)', 'price': '₹84,900'},
 {'title': 'Apple iPhone 16 (Pink, 256 GB)', 'price': '₹84,900'},
 {'title': 'Apple iPhone 16 Plus (Pink, 512 GB)', 'price': '₹1,14,900'},
 {'title': 'Apple iPhone 16 (Pink, 128 GB)', 'price': '₹74,900'},
 {'title': 'vivo T3 Lite 5G (Majestic Black, 128 GB)', 'price': '₹11,499'},
 {'title': 'vivo T3 Lite 5G (Majestic Black, 128 GB)', 'price': '₹10,499'},
 {'title': 'Apple iPhone 16 Plus (Black, 256 GB)', 'price': '₹94,900'},
 {'title': 'Apple iPhone 16 (Pink, 512 GB)', 'price': '₹1,04,900'},
 {'title': 'Apple iPhone 16 Plus (Pink, 256 GB)', 'price': '₹94,900'},
 {'title': 'vivo T3 Lite 5G (Vibrant Green, 128 GB)', 'price': '₹10,499'},
 {'title': 'Apple iPhone 16 (Black, 256 GB)', 'price': '₹84,900'},
 {'title': 'Apple iPhone 16 Plus (Black, 128 GB)', 'price': '₹84,900'},
 {'title': 'Apple iPhone 16 (Black, 512 GB)', 'price': '₹1,04,900'},
 {'title': 'Apple iPhone 16 Plus (Black, 512 GB)', 'price': '₹1,14,900'},
 {'title': 'Apple iPhone 16 (White, 512 GB)', 'price': '₹1,04,900'},
 {'title': 'vivo T3x 5G (Crimson Bliss, 128 GB)', 'price': '₹13,999'},
 {'title': 'Apple iPhone 16 (White, 256 GB)', 'price': '₹84,900'},
 {'title': 'vivo T3x 5G (Crimson Bliss, 128 GB)', 'price': '₹12,499'},
 {'title': 'vivo T3x 5G (Celestial Green, 128 GB)', 'price': '₹12,499'},
 {'title': 'Apple iPhone 16 (White, 128 GB)', 'price': '₹74,900'},
 {'title': 'vivo T3x 5G (Celestial Green, 128 GB)', 'price': '₹13,999'},
 {'title': 'vivo T3x 5G (Sapphire Blue, 128 GB)', 'price': '₹13,999'},
 {'title': 'Apple iPhone 16 (Black, 128 GB)', 'price': '₹74,900'}]

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(result)

In [8]:
df

                                        title      price
0   SAMSUNG Galaxy F05 (Twilight Blue, 64 GB)     ₹6,249
1         Apple iPhone 16 Plus (Pink, 128 GB)    ₹84,900
2              Apple iPhone 16 (Pink, 256 GB)    ₹84,900
3         Apple iPhone 16 Plus (Pink, 512 GB)  ₹1,14,900
4              Apple iPhone 16 (Pink, 128 GB)    ₹74,900
5    vivo T3 Lite 5G (Majestic Black, 128 GB)    ₹11,499
6    vivo T3 Lite 5G (Majestic Black, 128 GB)    ₹10,499
7        Apple iPhone 16 Plus (Black, 256 GB)    ₹94,900
8              Apple iPhone 16 (Pink, 512 GB)  ₹1,04,900
9         Apple iPhone 16 Plus (Pink, 256 GB)    ₹94,900
10    vivo T3 Lite 5G (Vibrant Green, 128 GB)    ₹10,499
11            Apple iPhone 16 (Black, 256 GB)    ₹84,900
12       Apple iPhone 16 Plus (Black, 128 GB)    ₹84,900
13            Apple iPhone 16 (Black, 512 GB)  ₹1,04,900
14       Apple iPhone 16 Plus (Black, 512 GB)  ₹1,14,900
15            Apple iPhone 16 (White, 512 GB)  ₹1,04,900
16        vivo T3x 5G (Crimson Bliss, 128 GB)    ₹13,999
17            Apple iPhone 16 (White, 256 GB)    ₹84,900
18        vivo T3x 5G (Crimson Bliss, 128 GB)    ₹12,499
19      vivo T3x 5G (Celestial Green, 128 GB)    ₹12,499
20            Apple iPhone 16 (White, 128 GB)    ₹74,900
21      vivo T3x 5G (Celestial Green, 128 GB)    ₹13,999
22        vivo T3x 5G (Sapphire Blue, 128 GB)    ₹13,999
23            Apple iPhone 16 (Black, 128 GB)    ₹74,900